<aside class="appBar">

    <button id="btn-close" type="button" class="btn-close" disabled aria-label="Close"></button>

    <header>
        <div><img src="/img/logo.svg" alt="" /></div>

        <div>
            <h2>Usuario</h2>
        </div>
        <hr />
    </header>

    <div class="dashboard">
        <i class="ph-bold ph-graph"></i>
        <h3>Dashboard</h3>
    </div>

    <nav class="nav">


        <button id="btn-listaProdutos" class="btn-navbar-admin">
            <i class="ph-bold ph-list"></i>
            <a href="/admin/home">Lista de produtos</a>
           </button>


        <button id="btn-produtos" class="btn-navbar-admin">
            <i class="ph-bold ph-tray"></i>
            <a href="/admin/produto">Produtos</a>
        
        </button>


        

        <button id="btn-cadastrarPordutos" class="btn-navbar-admin">
            <i class="ph-bold ph-tag-chevron"></i>
            <a href="/admin/cadastroProduto">Cadastrar produto</a>
            </button>



        <button id="btn-pedidos" class="btn-navbar-admin">
            <i class="ph-bold ph-basket"></i>
            <a href="/admin/pedidos">Pedidos</a>
            </button>


    </nav>

  
</aside>