

/* [ @media queries ]
----------------------------------------------------------------- */
@media only screen and ( width <= 768px ) {
    
    nav#header-nav-mobile {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: calc( var( --appbar-height ) + 28px );
        overflow-y: hidden;
        transition: .3s ease-in-out;
    }

    nav#header-nav-mobile > .searchbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 85%;
        height: 36px;
        padding: 6px;
        border-radius: 23px;
        background: var(--cp00);
        box-shadow: inset 0px 2px 5px var( --cp09 );
        color: #848484;
        font-size: 16px;
        cursor: text;
    }

    nav#header-nav-mobile > menu { width: 90%; }

    nav#header-nav-mobile > menu li { width: 100%; margin: 22px 0; }
    nav#header-nav-mobile > menu li > .title-pk#carrinho::before { 
        content: url( "../../img/home/shopping-cart.svg" );
        height: 1.8rem; 
    }

    nav#header-nav-mobile > menu * .title-pk { 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 3vw 0;
    }
    nav#header-nav-mobile > menu * .title-pk > .outline {
        position: absolute;
        font-size: 1.25rem;
    }
    nav#header-nav-mobile > menu * .title-pk > .h3 {
        position: absolute;
        font-size: 1.25rem;
        color: var( --cp05 );
    }

}


