

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pikituchos</title>
    <link rel="icon" href="src/public/images/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="src/public/stylesheets/globals/global.css">
    <link rel="stylesheet" href="src/public/stylesheets/home-Noely/home.css">
</head>
<body>
        
    <!-- <%- include( "includes/global/appbar.ejs" ) %> -->
    <page-header></page-header>

    <main>

        <banner-section>
            <slider>
                <slide id="slide00">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="src/public/images/home-Noely/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <slide id="slide01">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="src/public/images/home-Noely/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <slide id="slide02">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="src/public/images/home-Noely/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <slide id="slide03">
                    <left>
                        <section>
                            <img id="mamae-e-bebe" src="src/public/images/home-Noely/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </section>
                    </left>
                    <right>
                    </right>
                </slide>
                
                <img class="slider-btn slider-btn-next" src="src/public/images/home-Noely/arrowRight.svg" alt="">
                <img class="slider-btn slider-btn-prev" src="src/public/images/home-Noely/arrowLeft.svg" alt="">
            </slider>
        </banner-section>
        
        <highlights-section>
            <header>
                <title-pk name="Produtos mais procurados" color="var(--cp05)"></title-pk>
            </header>
            <slider>
                <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/home-Noely/ofertas/oferta-01.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
                <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/home-Noely/ofertas/oferta-02.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
                <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/home-Noely/ofertas/oferta-03.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
                <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/home-Noely/ofertas/oferta-04.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
                
                <img class="slider-btn slider-btn-next" src="src/public/images/home-Noely/arrowRight.svg" alt="">
                <img class="slider-btn slider-btn-prev" src="src/public/images/home-Noely/arrowLeft.svg" alt="">
            </slider>
        </highlights-section>

        <yourbaby-section>
            <spot>
                <div class='wave'></div>
                <div class='wave'></div>
                <div class='wave'></div>
                <div class='wavePix'></div>
            </spot>
            <footer>
                <header>
                    <title-pk name="Seu pequeno é nossa prioridade" color="var(--cp05)"></title-pk>
                </header>
                <p>Nossa meta é trazer inovação e tudo que há de melhor para seu bebê, para garantir à
                    mamãe e seu pequeno todo o conforto e alegria que a vida pode oferecer.
                    <br> <br>
                    É incrível como algo tão pequenino pode te fazer sentir algo tão grande.
                </p>
            </footer>
        </yourbaby-section>
        
        <years-section>
            <baby-section>
                <header>
                    <title-pk name="Moda e acessórios para bebês <br> de 0 à 1 ano" color="var(--cp05)"></title-pk>
                </header>
                <slider>
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-01.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-02.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-03.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-04.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                
                    <img class="slider-btn slider-btn-next" src="src/public/images/home-Noely/arrowRight.svg" alt="">
                    <img class="slider-btn slider-btn-prev" src="src/public/images/home-Noely/arrowLeft.svg" alt="">
                </slider>
            </baby-section>
            <kids-section>
                <header>
                    <title-pk name="Moda e acessórios para pequenos <br> de 2 à 3 anos" color="var(--cp05)"></title-pk>
                </header>
                <slider>

                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-05.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                    
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-06.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-07.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                    <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/home-Noely/years-section/product-08.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                
                    <img class="slider-btn slider-btn-next" src="src/public/images/home-Noely/arrowRight.svg" alt="">
                    <img class="slider-btn slider-btn-prev" src="src/public/images/home-Noely/arrowLeft.svg" alt="">
                </slider>
            </kids-section>

            <center-btn>
                <button-pk name="Ver mais" color="" width="50%"></button-pk>
            </center-btn>

        </years-section>
        
        <testimonials-section>
            <header>
                <title-pk name="O que outras mamâes estão dizendo <br> sobre nossos serviços" color="var(--cp07)"></title-pk>
            </header>
            <section>
                <card>
                    <card-home>
                        <picture>
                            <img src="src/public/images/home-Noely/testimonials/mom-testm-01.webp" alt="">
                        </picture>
                        
                        <h3>Mother's name</h3>
                        
                        <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry.
                        </testimonial>
                    </card-home>
                </card>

                <card class="testim-card">
                    <card-home class="testim-card-home">
                        <picture>
                            <img src="src/public/images/home-Noely/testimonials/mom-testm-02.webp" alt="">
                        </picture>
                        
                        <h3>Mother's name</h3>
                        
                        <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry.
                        </testimonial>
                    </card-home>
                </card>

                <card>
                    <card-home>
                        <picture>
                            <img src="src/public/images/home-Noely/testimonials/mom-testm-03.webp" alt="">
                        </picture>
                        
                        <h3>Mother's name</h3>
                        
                        <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry.
                        </testimonial>
                    </card-home>
                </card>
            </section>
        </testimonials-section>
        
    </main>
        
    <!-- <%- include( "includes/global/footer.ejs" ) %> -->
    <page-footer></page-footer>
    
    <script src="src/public/scripts/globals/global.js"></script>
    <script src="src/public/scripts/home-Noely/home.js"></script>
</body>
</html>


