<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pikituchos</title>
    <link rel="icon" href="src/public/images/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="src/public/stylesheets/globals/global.css">
    <link rel="stylesheet" href="src/public/stylesheets/home/home.css">
    <link rel="stylesheet" href="src/public/stylesheets/globals/animations.css">
    <link rel="stylesheet" href="src/public/stylesheets/home/slider.css">
    <link rel="stylesheet" href="./src/public/stylesheets/listagem.css">
</head>
<body>
        
    <!-- <%- include( "includes/global/appbar.ejs" ) %> -->
    <page-header></page-header>
    <main>
        <div class="cards">
                <h1 class="texto">0 á 3 meses</h1>
                <div class="container" id="filaum">
                        <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/produtos/rn1-removebg-preview.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>

                    <card-pk 
                                name="Product's name" 
                                desc="product description" 
                                real="99" 
                                cents="99"
                                src="src/public/images/produtos/roupinha13-removebg-preview.png" 
                                alt=""
                                btn="Ver detalhes"
                            ></card-pk>

                            <card-pk 
                            name="Product's name" 
                            desc="product description" 
                            real="99" 
                            cents="99"
                            src="src/public/images/produtos/roupinha14-removebg-preview.png" 
                            alt=""
                            btn="Ver detalhes"
                        ></card-pk>

                        <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/produtos/roupinha15-removebg-preview.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                </div>    
                <h1 class="texto"> 3 á 6 meses</h1>
                <div class="container" id="fildois">
                    <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/produtos/roupinha16-removebg-preview.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
                            name="Product's name" 
                            desc="product description" 
                            real="99" 
                            cents="99"
                            src="src/public/images/produtos/roupinha3-removebg-preview (1).png" 
                            alt=""
                            btn="Ver detalhes"
                        ></card-pk>

                        <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/produtos/roupinha3-removebg-preview.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>

                    <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/produtos/roupinha5-removebg-preview.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
            </div> 
            <h1 class="texto"> 6 á 9 meses</h1>

            <div class="container" id="filatres">
                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
                src="src/public/images/produtos/roupinha6-removebg-preview.png" 
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="src/public/images/produtos/roupinha7-removebg-preview.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>

                    <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/produtos/roupinha8-removebg-preview.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
                src="src/public/images/produtos/roupinhas10-removebg-preview.png" 
                alt=""
                btn="Ver detalhes"
            ></card-pk>
        </div> 
        <h1 class="texto"> 9 á 12 meses </h1>
        <div class="container" id="filaquatro">
            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
            src="src/public/images/produtos/roupinhas11-removebg-preview.png" 
            alt=""
            btn="Ver detalhes"
        ></card-pk>

        <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/produtos/roupinhas12-removebg-preview (1).png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
                src="src/public/images/produtos/roupinhas2-removebg-preview (1).png" 
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
            src="src/public/images/produtos/roupinhas2-removebg-preview.png" 
            alt=""
            btn="Ver detalhes"
        ></card-pk>
        </div> 
        <h1 class="texto">Dia a dia</h1>
        <div class="container" id="filacinco">
            <card-pk 
            name="Products name" 
            desc="product description" 
            real="99" 
            cents="99"
            src="src/public/images/produtos/carrinho bebe.jpg" 
            alt=""
            btn="Ver detalhes"
        ></card-pk>

        <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="src/public/images/produtos/D_NQ_NP_828049-MLB50509782634_062022-O.jpg"
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
                src="src/public/images/produtos/manta-piquet-carrinhos-de-bebe-rosa-184368.jpg"
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
            src="src/public/images/produtos/conforto.jpg"
            alt=""
            btn="Ver detalhes"
        ></card-pk>
            </div> 
    </div>
</main>
        
    <!-- <%- include( "includes/global/footer.ejs" ) %> -->
    <page-footer></page-footer>
    
    <script src="src/public/scripts/globals/global.js"></script>
    <script src="src/public/scripts/home.js"></script>
</body>
</html>


