

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pikituchos</title>
    <link rel="icon" href="src/public/images/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="src/public/stylesheets/globals/global.css">
    <link rel="stylesheet" href="src/public/stylesheets/home/home.css">
    <link rel="stylesheet" href="src/public/stylesheets/produto/produto.css">
    <link rel="stylesheet" href="src/public/stylesheets/globals/animations.css">
    <link rel="stylesheet" href="src/public/stylesheets/home/slider.css">
</head>
<body>
        
    <!-- <%- include( "includes/global/appbar.ejs" ) %> -->
    <page-header></page-header>

    <main>

        <article>
            <section class="product-top">
                <div class="product-img">
                    <div class="product-img-min">
                        <img src="./src/public/images/produto/product-min.png" alt="...">
                        <img src="./src/public/images/produto/product-min.png" alt="...">
                        <img src="./src/public/images/produto/product-min.png" alt="...">
                    </div>
                    <img src="./src/public/images/produto/product.png" alt="...">
                </div>
                <div class="product-buy">
                    <div class="title">
                        <h2>Product's name</h2>
                        <p>99,99</p>
                    </div>
                    <div class="colors">
                        <h2>Cores</h2>
                        <ul>
                          <li>
                            <label>
                              <input type="radio" name="color" value="pink">
                              <span class="swatch-color" style="background-color:#F190A3"></span> Rosa
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="radio" name="color" value="blue">
                              <span class="swatch-color" style="background-color:#47C8EF"></span> Azul
                            </label>
                          </li>
                        </ul> 
                    </div>
                    <div class="sizes">
                        <h2>Tamanhos</h2>
                        <ul>
                          <li>
                            <label>
                              <input type="radio" name="size" value="p">
                              <span class="swatch-size" style="background-color: white">P</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="radio" name="size" value="m">
                              <span class="swatch-size" style="background-color: white">M</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <input type="radio" name="size" value="g">
                              <span class="swatch-size" style="background-color: white">G</span>
                            </label>
                          </li>
                        </ul> 
                    </div>
                    <div class="buy">
                      <div class="btn-quantity">
                        <button class="btn-minus">-</button>
                        <input class="input-quantity" type="number">
                        <button class="btn-plus">+</button>
                      </div>
                      <button class="btn-buy">COMPRAR</button>
                    </div>
                </div>
            </section>
            <section class="product-bottom">
              <div class="description">
                <h2>DESCRIÇÃO</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat ex a ex posuere malesuada. Integer accumsan commodo nisl, vel fringilla turpis dictum et. Duis dignissim sit amet augue id tincidunt. In scelerisque dapibus velit posuere imperdiet. Suspendisse erat mi, faucibus in orci sed, aliquet tempus est.</p>
              </div>
            </section>
        </article>
        
    </main>
        
    <!-- <%- include( "includes/global/footer.ejs" ) %> -->
    <page-footer></page-footer>
    
    <script src="src/public/scripts/globals/global.js"></script>
    <script src="src/public/scripts/home.js"></script>
</body>
</html>


