* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  */

body {
  background-image: linear-gradient(
    to left top,
    #b5fffc,
    #bff7ff,
    #dcedff,
    #f5e3ff,
    #ffdee9
  );
  background-repeat: no-repeat;
}

main {
  background-color: transparent;
  display: flex;
  gap: 1rem;
}

/* Menu lateral */

.btn-close {
  cursor: pointer;
}

.appBar {
  width: 250px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4px;
  box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.1);
  background-color: #def7ff;
}

.appBar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  width: 100%;
}

.appBar header div h2 {
  font-size: 1rem;
}

.dashboard {
  display: flex;
  align-items: first baseline;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  gap: 10px;
  color: #f190a3;
}

.dashboard i {
  font-size: 1.8rem;
}

.dashboard h3 {
  font-size: 1.4rem;
}
.nav {
  margin-top: 2rem;
  display: block;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.appBar footer {
  margin-top: 70%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

/* lista de produtos */

.app {
  width: 100%;
}

.produtos {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px 50px;
  background-color: #ffff;
}

.produtos header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.buscar{
    display: flex;
    align-items: center;
    width: 516px;
    border: 1px solid var(--cp07);
    border-radius: 8px;
    height: 50px;
    padding: 0px 16px;
    background-color: var(--cp00);
    font-size: 1rem;
    transition: 500ms;
    gap: 10px;
    letter-spacing: 1px;
  }

  .buscar input{
    border: none;
    width: 100%;
    outline: none;
  }

.buscar:active{
    border: 1px solid var(--cp07);
    box-shadow: var(--cp02) 0px 0px 5px 1px inset, var(--cp02) 0px 0px 5px 1px;
    transition: 0.1s;

}

  .buscar:focus-visible{
    border: 1px solid var(--cp07);
    box-shadow: var(--cp02) 0px 0px 5px 1px inset, var(--cp02) 0px 0px 5px 1px;
    transition: 0.1s;

}


.produtos main {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.card-produto {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.1);
}
.card-produto div img {
  width: 200px;
  display: block;
}

.card-produto div h3,
div h4 {
  font-size: 1rem;
}

.box-btn-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
