

@keyframes pulse {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 #f72a;
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #f720;
	}
	
	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 #f720;
	}
}

@keyframes btnPress {
    0% {
        box-shadow: #6129D750 5px 5px 0;
    }
    100% {
        box-shadow: #6129D750 1px 1px 0;
    }
}