
/* [ banner slider ]
================================== */
.slider-btn {
    position: absolute;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    /* padding: 10px; */
    text-align: center;
    border: none;
    border-radius: 50%;
    z-index: 9;
    cursor: pointer;
    background-color: #fff5;
    background-color: #00000010;
    font-size: 18px;
    font-weight: bolder;
}
.slider-btn:active {
    transform: scale(1.1);
}
.slider-btn:hover {
    box-shadow: #0003 0 0 6px;
}
.slider-btn-prev {
    top: 50%;
    left: 2%;
} .slider-btn-prev:active {
    transform: translateX(-5px);
}
.slider-btn-next {
    top: 50%;
    right: 2%;
} .slider-btn-next:active {
    transform: translateX(5px);
}

/* [ highlight slider ]
====================================== */
.carousel-slider {
    overflow: hidden;
}
  
.carousel-list:before,
.carousel-list:after {
    content: "";
    display: table;
}
  
.carousel-list:after {
    clear: both;
}
  
.carousel-slide {
    float: left;
}
  