

<link rel="stylesheet" href="stylesheets/globals/includes/page-footer.css">
<script src="js/globals/includes/page-footer.js"></script>
<page-footer>
<footer-overlay>
    <article class="newsletter">
        
        <p title-pk="GANHE 20% DE DESCONTO" style="font-size: 1.8rem; color: var( --cp07 )">GANHE 20% DE DESCONTO</p>

        <!-- <h2 id="outline">GANHE 20% DE DESCONTO</h2>
        <h2 class="text-bg">GANHE 20% DE DESCONTO</h2> -->
        
        <txt>Assine nossa newsletter ganhe 20% de desconto 
        <br> em sua primeira compra e fique por dentro das nossas novidades.</txt>
        <p>*Aplicável apenas para pedidos acima de R$ 149,90.</p>
        <form>
            <p error>error message</p>
            <p success>success message</p>
            <label for="subscribe">
                <input type="text" placeholder="digite seu melhor e-mail...">
                <button class="button-pk" role="button" type="submit">
                    <btn-shadow class=""></btn-shadow>
                    <btn-edge class=""></btn-edge>
                    <btn-front class=" text">
                        Assine agora!
                    </btn-front>
                </button>
            </label>
        </form>
    </article>
    
    <article class="footer-top">
        <section class="socials">
            <header>
                <img class="babyPikituchos" src="img/pikitucho.svg" alt="logo image">
                <!-- <img src="img/home/pikituchos-logo.svg" id="logo" alt=""> -->
                <img src="img/home/pikituchos-logo-txt.png" id="logo-txt" alt="">
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <footer>
                <img src="img/home/socials/facebook-svgrepo-com.svg" alt="">
                <img src="img/home/socials/instagram-svgrepo-com.svg" alt="">
                <img src="img/home/socials/twitter-svgrepo-com.svg" alt="">
                <img src="img/home/socials/youtube-svgrepo-com.svg" alt="">
            </footer>
        </section>
        <section class="support">
            <header>
                <p title-pk="Mapa do site" style="color: var( --cp07 ) !important; font-size: 1.17em">Mapa do site</p>
            </header>
            <nav>
                <l href="#">Meninas</l>
                <l href="#">Meninos</l>
                <l href="#">Brinquedos</l>
                <l href="#">Promoção</l>
                <l href="#">Eletrônicos</l>
            </nav>
        </section>
        <section class="about">
            <header>
                <p title-pk="Sobre Nós" style="color: var( --cp06 ) !important; font-size: 1.17em">Sobre Nós</p>
            </header>
            <nav>
                <l href="#">Quem Somos</l>
                <l href="#">Atendimento</l>
                <l href="#">Compra Segura</l>
                <l href="#">Política de Entrega</l>
                <l href="#">Política de Trocas e Devoluções</l>
                <l href="#">Política de Privacidade</l>
            </nav>
        </section>
        <section class="contact-info">
            <header>
                <p title-pk="Atendimento" style="color: var( --cp05 ) !important; font-size: 1.17em">Atendimento</>
            </header>
            <nav>
                <li>Seg à Sex: 8:00h às 12h | 13h às 17:30h</li>
                <li>( 99 ) 9 9999-9999</li>
                <li>sac@pikituchos.com.br</li>
            </nav>
        </section>
    </article>
    
    <article class="footer-bottom">
        <section id="bottom-clouds"></section>
        <txt>copyright © 2022 - Present | PIKITUCHOS LTDA.</txt>
        <txt>Made with 
            <!-- ❤️ -->
            <img id="footer-heart" src="img/home/love_icon.svg" alt="">
            by <a href="#">fs-tn-18</a> <strong>grupo 7</strong>
            <img id="footer-DH" href="https://www.digitalhouse.com/br" src="img/home/DH-Logo.svg" alt="" data-title="www.digitalhouse.com/br">
        </txt>
    </article>
</footer-overlay>
</page-footer>