

<link rel="stylesheet" href="stylesheets/globals/includes/page-footer.css">
<script src="js/globals/includes/page-footer.js"></script>
<page-footer>
<footer-overlay>
    <article class="newsletter" intro="b">
        
        <p title-pk="GANHE 20% DE DESCONTO" intro="l" style="font-size: 1.8rem; color: var( --cp07 )">GANHE 20% DE DESCONTO</p>

        <!-- <h2 id="outline">GANHE 20% DE DESCONTO</h2>
        <h2 class="text-bg">GANHE 20% DE DESCONTO</h2> -->
        
        <txt>Assine nossa newsletter ganhe 20% de desconto 
        <br> em sua primeira compra e fique por dentro das nossas novidades.</txt>
        <p>*Aplicável apenas para pedidos acima de R$ 149,90.</p>
        <form>
            <p error>error message</p>
            <p success>success message</p>
            <label for="subscribe">
                <input type="text" placeholder="digite seu melhor e-mail...">
                <button class="button-pk" role="button" type="submit" intro="r">
                    <btn-shadow class=""></btn-shadow>
                    <btn-edge class=""></btn-edge>
                    <btn-front class=" text">
                        Assine agora!
                    </btn-front>
                </button>
            </label>
        </form> 
    </article>
    
    <article class="footer-top">
        <section class="socials" intro="l">
            <header>
                <img class="babyPikituchos" src="img/pikitucho.svg" alt="logo image">
                <!-- <img src="img/home/pikituchos-logo.svg" id="logo" alt=""> -->
                <img src="img/home/pikituchos-logo-txt.png" id="logo-txt" alt="">
            </header>
            <p>Trazemos os melhores produtos com o melhor preço para você mamãe e seu Pikitucho.</p>
            <footer>
                <img src="img/home/socials/facebook-svgrepo-com.svg" alt="">
                <img src="img/home/socials/instagram-svgrepo-com.svg" alt="">
                <img src="img/home/socials/twitter-svgrepo-com.svg" alt="">
                <img src="img/home/socials/youtube-svgrepo-com.svg" alt="">
            </footer>
        </section>
        <section class="support" intro="b">
            <header>
                <p title-pk="Mapa do site" style="color: var( --cp07 ) !important; font-size: 1.17em">Mapa do site</p>
            </header>
            <nav intro="b">
                <l href="#">Meninas</l>
                <l href="#">Meninos</l>
                <l href="#">Brinquedos</l>
                <l href="#">Promoção</l>
                <l href="#">Eletrônicos</l>
            </nav>
        </section>
        <section class="about" intro="t">
            <header>
                <p title-pk="Sobre Nós" style="color: var( --cp06 ) !important; font-size: 1.17em">Sobre Nós</p>
            </header>
            <nav>
                <l url="/quem-somos">Quem Somos</l>
                <l url="/seguranca">Segurança</l>
                <l url="/politica-de-entrega">Política de Entrega</l>
                <l url="/returns-policy">Política de Trocas e Devoluções</l>
                <l url="/privacy-policy">Política de Privacidade</l>
            </nav>
        </section>
        <section class="contact-info" intro="r">
            <header>
                <p title-pk="Atendimento" style="color: var( --cp05 ) !important; font-size: 1.17em">Atendimento</>
            </header>
            <nav>
                <li>Seg à Sex: 8:00h às 12h | 13h às 17:30h</li>
                <li>
                    <ico>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" class=" lazyload-svg replaced-svg" viewBox="0 0 20 20"><path d="M18.63 14.28c-.79-.81-3.03-2.32-4.5-2.32-.33 0-.63.07-.87.23-.72.46-1.29.81-1.57.81-.15 0-.31-.13-.67-.44l-.06-.05c-.98-.86-1.2-1.08-1.58-1.48l-.09-.1c-.07-.07-.13-.14-.19-.2-.34-.34-.58-.59-1.44-1.56l-.04-.04c-.41-.47-.68-.77-.69-.99-.02-.22.17-.57.65-1.22.58-.79.6-1.76.07-2.89-.43-.89-1.12-1.74-1.74-2.49l-.05-.06C5.33.83 4.72.51 4.03.51c-.76 0-1.39.41-1.72.62l-.09.06C1.47 1.66.93 2.31.73 2.98c-.31.99-.52 2.29.95 4.98 1.28 2.33 2.43 3.9 4.27 5.78 1.72 1.77 2.49 2.34 4.2 3.58 1.91 1.38 3.75 2.17 5.03 2.17 1.19 0 2.13 0 3.47-1.61 1.4-1.69.82-2.73-.02-3.6zm-.62 3.02c-1.08 1.3-1.7 1.3-2.82 1.3-1.1 0-2.8-.75-4.55-2.01-1.67-1.21-2.41-1.76-4.09-3.48-1.77-1.82-2.89-3.34-4.12-5.59-1.3-2.37-1.16-3.42-.89-4.27.14-.46.56-.95 1.13-1.31.03-.01.06-.04.09-.05.28-.19.76-.49 1.28-.49.43 0 .81.21 1.18.66l.05.06C6.65 3.81 7.72 5.3 6.91 6.4c-.57.77-.87 1.29-.82 1.83.04.52.39.92.92 1.51l.04.04c.87.99 1.11 1.25 1.46 1.6l.19.19.09.1c.4.42.62.64 1.64 1.53l.06.06c.43.38.75.65 1.21.65.48 0 1.01-.3 2.01-.94.11-.07.25-.11.44-.11 1.17 0 3.18 1.34 3.89 2.07.65.66.97 1.15-.03 2.37z" style="fill: #fff;"></path></svg>
                    </ico>
                    <txt>
                        <a href="tel:+5513991176924" target="_blank">
                            ( 13 ) 9 9117-6924
                        </a>
                    </txt>
                </li>
                <li>
                    <ico>
                        <img src="img/globals/whatsapp-svgrepo-com.svg" alt="" width="20">
                    </ico>
                    <txt>
                        <a href="https://api.whatsapp.com/send?phone=5513991176924&text=Olá, vim do site Pikituchos e gostaria de realizar um agendamento. 😊" target="_blank">
                            ( 13 ) 9 9117-6924
                        </a>
                    </txt>
                </li>
                <li>
                    <ico>
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20" height="20" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" class=" lazyload-svg replaced-svg" viewBox="0 0 20 20"><path class="fil0" d="M.35.73v11.54h17.3V.73H.35zM9 7.04 1.66 1.45h14.68L9 7.04zm-7.93 4.51V1.91l5.19 3.95-3.07 3.48.09.09 3.55-3.14L9 7.94l2.17-1.65 3.55 3.14.09-.09-3.07-3.49 5.19-3.94v9.64H1.07z" style="fill: #fff;"></path></svg>
                    </ico>
                    <txt>
                        <a href="mailto:sac@pikituchos.com.br?subject=Assunto do email&body=Conteúdo do email que será preenchido automaticamente" target="_blank">
                            sac@pikituchos.com.br
                        </a>
                    </txt>
                </li>
            </nav>
        </section>
    </article>
    
    <article class="footer-bottom">
        <section id="bottom-clouds"></section>
        <txt>copyright © 2022 - Present | PIKITUCHOS LTDA.</txt>
        <txt>Made with 
            <!-- ❤️ -->
            <!-- <img id="footer-heart" src="img/home/love_icon.svg" alt=""> -->
            <svg class="svg-heart" viewBox="0 0 32 29.6">
                <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
            </svg> 
            by <a href="https://github.com/dh-fs-tn-18-g7/pikituchos" target="_blank">fs-tn-18</a> <strong>grupo 7</strong>
            <img id="footer-DH" href="https://www.digitalhouse.com/br" src="img/home/DH-Logo.svg" alt="" data-title="www.digitalhouse.com/br">
        </txt>
    </article>
</footer-overlay>
</page-footer>