<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pikituchos</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="stylesheets/globals/global.css">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    <!--link rel="stylesheet" href="stylesheets/globals/animations.css"-->
    <!--link rel="stylesheet" href="src/public/stylesheets/home/slider.css"-->
    <link rel="stylesheet" href="stylesheets/listagem.css">

    <script src="js/globals/global.js" defer></script>
    <script src="js/produto/produto.js" defer></script>
    <script src="js/home/home.js" defer></script>
    
</head>
<body>
    <%- include( "includes/appbar.ejs" ) %>
		<div class="container">

			<div class="cart-container">

				<header>

					<h3>Carrinho de Compras</h3>

				</header>

				<div class="cart-body">

					<div class="cart-item">

						<div class="cart-row">

							<div class="cart-row-cell pic">

								<a href="#">-</a>
								
								<span></span>
							
							</div>

							<div class="cart-row-cell desc">
								
								<h5>Macacão masculino RN</h5>

								<p>#41345755</p>

							</div>

							<div class="cart-row-cell quant">

								<ul>
									<li><a href="#">-</a></li>

									<li>2</li>
									
									<li><a href="#">+</a></li>
								</ul>

							</div>

							<div class="cart-row-cell amount">

								<p>R$49,99</p>

							</div>	
						
						</div>

						<div class="cart-row">

							<div class="cart-row-cell pic">

								<a href="#">-</a>
								
								<span></span>
							
							</div>

							<div class="cart-row-cell desc">
								
								<h5>Macacão feminino</h5>

								<p>#41345755</p>

							</div>

							<div class="cart-row-cell quant">

								<ul>
									<li><a href="#">-</a></li>

									<li>2</li>
									
									<li><a href="#">+</a></li>
								</ul>

							</div>

							<div class="cart-row-cell amount">

								<p>R$ 49,99</p>

							</div>	
						
						</div>

						<div class="cart-row">

							<div class="cart-row-cell pic">

								<a href="#">-</a>
								
								<span></span>
							
							</div>

							<div class="cart-row-cell desc">
								
								<h5>Conjuntinho masculino</h5>

								<p>#41345755</p>

							</div>

							<div class="cart-row-cell quant">

								<ul>
									<li><a href="#">-</a></li>

									<li>2</li>
									
									<li><a href="#">+</a></li>
								</ul>

							</div>

							<div class="cart-row-cell amount">

								<p>R$  49,99</p>

							</div>	
						
						</div>



					</div>
				
				</div>

				<footer>


					<div class="totals">
						
						<p class="total-label">Subtotal</p>

						<p class="total-amount">R$13,87</p>

					</div>

					<div class="totals">
						
						<p class="total-label">Taxa</p>

						<p class="total-amount">R$2,00</p>

					</div>


					<div class="totals">
						
						<p class="total-label">Total</p>

						<p class="total-amount">R$15,87</p>

					</div>

					<button>Finalizar Compra</button>

				</footer>

			</div>

		</div>
        <%- include( "includes/footer.ejs" ) %>
	</body>

</html>