

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pikituchos</title>
    <link rel="icon" href="images/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Da&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji&display=swap" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
    <link rel="stylesheet" href="stylesheets/globals/global.css">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    <link rel="stylesheet" href="stylesheets/globals/animations.css">
    <link rel="stylesheet" href="stylesheets/home/slider.css">
</head>
<body>
        
    <%- include( "includes/global/appbar.ejs" ) %>

    <main>

        <banner-section>
            <slider>
                <slide id="slide00">
                    <left>
                        <main>
                            <img id="mamae-e-bebe" src="images/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </main>
                    </left>
                    <right>
                        <!-- <img src="images/home/baby-walls1.jpg" alt="" /> -->
                    </right>
                </slide>
                
                <slide id="slide01">
                    <left>
                        <main>
                            <img id="mamae-e-bebe" src="images/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </main>
                    </left>
                    <right>
                        <!-- <img src="images/home/baby-walls1.jpg" alt="" /> -->
                    </right>
                </slide>
                
                <slide id="slide02">
                    <left>
                        <main>
                            <img id="mamae-e-bebe" src="images/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </main>
                    </left>
                    <right>
                        <!-- <img src="images/home/baby-walls1.jpg" alt="" /> -->
                    </right>
                </slide>
                
                <slide id="slide03">
                    <left>
                        <main>
                            <img id="mamae-e-bebe" src="images/home/mamae-e-bebe.svg" alt="">
                            <h2>A loja mais completa para o seu bebê!</h2>
                        </main>
                    </left>
                    <right>
                        <!-- <img src="images/home/baby-walls1.jpg" alt="" /> -->
                    </right>
                </slide>
                
                <img class="slider-btn slider-btn-next" src="images/home/arrowRight.svg" alt="">
                <img class="slider-btn slider-btn-prev" src="images/home/arrowLeft.svg" alt="">
            </slider>
        </banner-section>
        
        <highlights-section>
            <header>
                <h2 id="outline">Produtos mais procurados</h2>
                <h2 class="text-bg">Produtos mais procurados</h2>
            </header>
            <slider>
                <card>
                    <picture>
                        <img src="images/home/ofertas/oferta-01.png" alt="">
                    </picture>
                    <bottom>
                        <bottom-bg>
                            <h3 id="outline">Product's name</h3>
                            <h3 id="text-bg">Product's name</h3>
                            <p>product description</p>
                            <valor>
                                <p>R$ 99,</p>
                                <p>99</p>
                            </valor>
                            <button>
                                Ver detalhes
                            </button>
                        </bottom-bg>
                    </bottom>
                </card>
                <card>
                    <picture>
                        <img src="images/home/ofertas/oferta-02.png" alt="">
                    </picture>
                    <bottom>
                        <bottom-bg>
                            <h3 id="outline">Product's name</h3>
                            <h3 id="text-bg">Product's name</h3>
                            <p>product description</p>
                            <valor>
                                <p>R$ 99,</p>
                                <p>99</p>
                            </valor>
                            <button>
                                Ver detalhes
                            </button>
                        </bottom-bg>
                    </bottom>
                </card>
                <card>
                    <picture>
                        <img src="images/home/ofertas/oferta-03.png" alt="">
                    </picture>
                    <bottom>
                        <bottom-bg>
                            <h3 id="outline">Product's name</h3>
                            <h3 id="text-bg">Product's name</h3>
                            <p>product description</p>
                            <valor>
                                <p>R$ 99,</p>
                                <p>99</p>
                            </valor>
                            <button>
                                Ver detalhes
                            </button>
                        </bottom-bg>
                    </bottom>
                </card>
                <card>
                    <picture>
                        <img src="images/home/ofertas/oferta-04.png" alt="">
                    </picture>
                    <bottom>
                        <bottom-bg>
                            <h3 id="outline">Product's name</h3>
                            <h3 id="text-bg">Product's name</h3>
                            <p>product description</p>
                            <valor>
                                <p>R$ 99,</p> 
                                <p>99</p>
                            </valor>
                            <button>
                                Ver detalhes
                            </button>
                        </bottom-bg>
                    </bottom>
                </card>
                
                <img class="slider-btn slider-btn-next" src="images/home/arrowRight.svg" alt="">
                <img class="slider-btn slider-btn-prev" src="images/home/arrowLeft.svg" alt="">
            </slider>
        </highlights-section>

        <yourBaby-section>
            <h2>Seu pequeno é nossa prioridade</h2>
            <p>Nossa meta é trazer inovação e tudo que há de melhor para seu bebê, para garantir à
                mamãe e seu pequeno todo o conforto e alegria que a vida pode oferecer.</p>
            <p>É incrível como algo tão pequenino pode te fazer sentir algo tão grande.</p>
        </yourBaby-section>
        
        <years-section>
            <baby-section>
                <header>
                    <h2 id="outline">Moda e acessórios <br> para bebês de 0 à 1 ano</h2>
                    <h2 class="text-bg">Moda e acessórios <br> para bebês de 0 à 1 ano</h2>
                </header>
                <slider>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-01.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-02.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-03.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-04.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                
                    <img class="slider-btn slider-btn-next" src="images/home/arrowRight.svg" alt="">
                    <img class="slider-btn slider-btn-prev" src="images/home/arrowLeft.svg" alt="">
                </slider>
            </baby-section>
            <kids-section>
                <header>
                    <h2 id="outline">Moda e acessórios para <br> pequenos de 2 à 3 anos</h2>
                    <h2 class="text-bg">Moda e acessórios para <br> pequenos de 2 à 3 anos</h2>
                </header>
                <slider>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-05.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-06.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-07.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                    <card>
                        <picture>
                            <img src="images/home/years-section/product-08.png" alt="">
                        </picture>
                        <bottom>
                            <bottom-bg>
                                <h3 id="outline">Product's name</h3>
                                <h3 id="text-bg">Product's name</h3>
                                <p>product description</p>
                                <valor>
                                    <p>R$ 99,</p>
                                    <p>99</p>
                                </valor>
                                <button>
                                    Ver detalhes
                                </button>
                            </bottom-bg>
                        </bottom>
                    </card>
                
                    <img class="slider-btn slider-btn-next" src="images/home/arrowRight.svg" alt="">
                    <img class="slider-btn slider-btn-prev" src="images/home/arrowLeft.svg" alt="">
                </slider>
            </kids-section>
            <btn>ver mais</btn>
        </years-section>
        
        <testimonials-section>
            <header>
                <h2 id="outline">O que as mamães estão dizendo <br> sobre nossos serviços</h2>
                <h2 class="text-bg">O que as mamães estão dizendo <br> sobre nossos serviços</h2>
            </header>
            <main>
                <card>
                    <h3>Mother's name</h3>
                    <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                        typesetting industry.
                    </testimonial>
                </card>
                <card>
                    <h3>Mother's name</h2>
                    <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                        typesetting industry.
                    </testimonial>
                </card>
                <card>
                    <h3>Mother's name</h2>
                    <testimonial>Lorem Ipsum is simply dummy text of the printing and 
                        typesetting industry.
                    </testimonial>
                </card>
            </main>
        </testimonials-section>
        
    </main>
        
    <%- include( "includes/global/footer.ejs" ) %>
    
    <script src="scripts/home.js"></script>
</body>
</html>
