<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pikituchos</title>
<<<<<<< HEAD
    <link rel="icon" href="/images/logo.svg" type="svg+xml">
=======
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<<<<<<< HEAD
    <link rel="stylesheet" href="/stylesheets/globals/global.css">
    <link rel="stylesheet" href="/stylesheets/home/home.css">
    <link rel="stylesheet" href="/stylesheets/globals/animations.css">
    <link rel="stylesheet" href="/stylesheets/home/slider.css">
    <link rel="stylesheet" href="/stylesheets/listagem.css">
</head>
<body>
        
    <!-- <%- include( "includes/appbar.ejs" ) %> -->
    <page-header></page-header>
    <main>
        <div class="cards">
                <h1 class="texto">0 á 3 meses</h1>
                <div class="container" id="filaum">
                        <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="/images/produtos/rn1-removebg-preview.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>

                    <card-pk 
                                name="Product's name" 
                                desc="product description" 
                                real="99" 
                                cents="99"
                                src="/images/produtos/roupinha13-removebg-preview.png" 
                                alt=""
                                btn="Ver detalhes"
                            ></card-pk>

                            <card-pk 
                            name="Product's name" 
                            desc="product description" 
                            real="99" 
                            cents="99"
                            src="/images/produtos/roupinha14-removebg-preview.png" 
                            alt=""
                            btn="Ver detalhes"
                        ></card-pk>

                        <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="/images/produtos/roupinha15-removebg-preview.png" 
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>
                </div>    
                <h1 class="texto"> 3 á 6 meses</h1>
                <div class="container" id="fildois">
                    <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="/images/produtos/roupinha16-removebg-preview.png" 
=======
    <link rel="stylesheet" href="stylesheets/globals/global.css">
    <link rel="stylesheet" href="stylesheets/home/home.css">
    <!--link rel="stylesheet" href="stylesheets/globals/animations.css"-->
    <!--link rel="stylesheet" href="src/public/stylesheets/home/slider.css"-->
    <link rel="stylesheet" href="stylesheets/listagem.css">

    <script src="js/globals/global.js" defer></script>
    <script src="js/produto/produto.js" defer></script>
    <script src="js/home/home.js" defer></script>
    
</head>
<body>
    <%- include( "includes/appbar.ejs" ) %>
<main>
    <div class="cards">
            <h1 class="texto">0 á 3 meses</h1>
            <div class="container" id="filaum">
                    <card-pk 
                    name="Conjuntinho body </br>
                    e pagão RN" 
                    desc="Conjuntinho com body e calça rosa </br>
                     feminino recém nascido" 
                    real="89" 
                    cents="90"
                    src="images/produtos/rn1-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
<<<<<<< HEAD
                            name="Product's name" 
                            desc="product description" 
                            real="99" 
                            cents="99"
                            src="/images/produtos/roupinha3-removebg-preview (1).png" 
=======
                            name="Macacão de zíper RN" 
                            desc="Macacão de zíper para menino RN br </br>
                            Preto minimalista" 
                            real="49" 
                            cents="90"
                            src="images/produtos/roupinha13-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                            alt=""
                            btn="Ver detalhes"
                        ></card-pk>

                        <card-pk 
<<<<<<< HEAD
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
                        src="/images/produtos/roupinha3-removebg-preview.png" 
=======
                        name="Macacão de zíper RN" 
                        desc="Macacão de zíper para menina RN <br>
                        rosa minimalista" 
                        real="49" 
                        cents="90"
                        src="images/produtos/roupinha14-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>

                    <card-pk 
<<<<<<< HEAD
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="/images/produtos/roupinha5-removebg-preview.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
            </div> 
            <h1 class="texto"> 6 á 9 meses</h1>

            <div class="container" id="filatres">
=======
                    name="Conjuntinho de body </br> 
                    e calça masculino RN" 
                    desc="Conjuntinho com body e calça rosa </br>
                    feminino recém nascido" 
                    real="89" 
                    cents="90"
                    src="images/produtos/roupinha15-removebg-preview.png" 
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>
            </div>    
            <h1 class="texto"> 3 á 6 meses</h1>
            <div class="container" id="fildois">
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
<<<<<<< HEAD
                src="/images/produtos/roupinha6-removebg-preview.png" 
=======
                src="images/produtos/roupinha16-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
                        name="Product's name" 
                        desc="product description" 
                        real="99" 
                        cents="99"
<<<<<<< HEAD
                        src="/images/produtos/roupinha7-removebg-preview.png" 
=======
                        src="images/produtos/roupinha3-removebg-preview (1).png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                        alt=""
                        btn="Ver detalhes"
                    ></card-pk>

                    <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
<<<<<<< HEAD
                    src="/images/produtos/roupinha8-removebg-preview.png" 
=======
                    src="images/produtos/roupinha3-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
<<<<<<< HEAD
                src="/images/produtos/roupinhas10-removebg-preview.png" 
=======
                src="images/produtos/roupinha5-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                alt=""
                btn="Ver detalhes"
            ></card-pk>
        </div> 
<<<<<<< HEAD
        <h1 class="texto"> 9 á 12 meses </h1>
        <div class="container" id="filaquatro">
=======
        <h1 class="texto"> 6 á 9 meses</h1>

        <div class="container" id="filatres">
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
<<<<<<< HEAD
            src="/images/produtos/roupinhas11-removebg-preview.png" 
=======
            src="images/produtos/roupinha6-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
            alt=""
            btn="Ver detalhes"
        ></card-pk>

        <card-pk 
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
<<<<<<< HEAD
                    src="/images/produtos/roupinhas12-removebg-preview (1).png" 
=======
                    src="images/produtos/roupinha7-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
<<<<<<< HEAD
                src="/images/produtos/roupinhas2-removebg-preview (1).png" 
=======
                src="images/produtos/roupinha8-removebg-preview.png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
<<<<<<< HEAD
            src="/images/produtos/roupinhas2-removebg-preview.png" 
            alt=""
            btn="Ver detalhes"
        ></card-pk>
        </div> 
        <h1 class="texto">Dia a dia</h1>
        <div class="container" id="filacinco">
            <card-pk 
            name="Products name" 
            desc="product description" 
            real="99" 
            cents="99"
            src="/images/produtos/carrinho bebe.jpg" 
=======
            src="images/produtos/roupinhas10-removebg-preview.png" 
            alt=""
            btn="Ver detalhes"
        ></card-pk>
    </div> 
    <h1 class="texto"> 9 á 12 meses </h1>
    <div class="container" id="filaquatro">
        <card-pk 
        name="Product's name" 
        desc="product description" 
        real="99" 
        cents="99"
        src="images/produtos/roupinhas11-removebg-preview.png" 
        alt=""
        btn="Ver detalhes"
    ></card-pk>

    <card-pk 
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
                src="images/produtos/roupinhas12-removebg-preview (1).png" 
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
            src="images/produtos/roupinhas2-removebg-preview (1).png" 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
            alt=""
            btn="Ver detalhes"
        ></card-pk>

        <card-pk 
<<<<<<< HEAD
                    name="Product's name" 
                    desc="product description" 
                    real="99" 
                    cents="99"
                    src="/images/produtos/D_NQ_NP_828049-MLB50509782634_062022-O.jpg"
                    alt=""
                    btn="Ver detalhes"
                ></card-pk>

                <card-pk 
=======
        name="Product's name" 
        desc="product description" 
        real="99" 
        cents="99"
        src="images/produtos/roupinhas2-removebg-preview.png" 
        alt=""
        btn="Ver detalhes"
    ></card-pk>
    </div> 
    <h1 class="texto">Dia a dia</h1>
    <div class="container" id="filacinco">
        <card-pk 
        name="Products name" 
        desc="product description" 
        real="99" 
        cents="99"
        src="images/produtos/carrinho bebe.jpg" 
        alt=""
        btn="Ver detalhes"
    ></card-pk>

    <card-pk 
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                name="Product's name" 
                desc="product description" 
                real="99" 
                cents="99"
<<<<<<< HEAD
                src="/images/produtos/manta-piquet-carrinhos-de-bebe-rosa-184368.jpg"
=======
                src="images/produtos/D_NQ_NP_828049-MLB50509782634_062022-O.jpg"
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
                alt=""
                btn="Ver detalhes"
            ></card-pk>

            <card-pk 
            name="Product's name" 
            desc="product description" 
            real="99" 
            cents="99"
<<<<<<< HEAD
            src="/images/produtos/conforto.jpg"
            alt=""
            btn="Ver detalhes"
        ></card-pk>
            </div> 
    </div>
</main>
        
    <!-- <%- include( "includes/footer.ejs" ) %> -->
    <page-footer></page-footer>
    
    <script src="/scripts/globals/global.js"></script>
    <script src="/scripts/home.js"></script>
=======
            src="images/produtos/manta-piquet-carrinhos-de-bebe-rosa-184368.jpg"
            alt=""
            btn="Ver detalhes"
        ></card-pk>

        <card-pk 
        name="Product's name" 
        desc="product description" 
        real="99" 
        cents="99"
        src="images/produtos/conforto.jpg"
        alt=""
        btn="Ver detalhes"
    ></card-pk>
        </div> 
</div>
</main>

<%- include( "includes/footer.ejs" ) %>
>>>>>>> 508754163431f28107467420c310cb5f5e49edde
</body>
</html>


