<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- <base href="/" target="_blank"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- [ styles ] 
==================================================== -->

  <link rel="stylesheet" href="/stylesheets/components.css" />
  <link rel="stylesheet" href="/stylesheets/usuario.css" />

  <!-- [ scripts ] 
==================================================== -->
<script src="https://unpkg.com/@phosphor-icons/web" defer></script>

  <script src="js/usuario.js" defer></script>
  <title>Account - Pikituchus</title>
</head>

<body>

  <%- include( "includes/appbar.ejs" ) %>

    <main>
      <section class="usuario">
       
      <%- include("components/menuUser.ejs")  %>

        <div class="diplayUsuario">
          <section class="boxCard">
            <article>
           
              <div class="cardUsuario">
                <label>
                  <a href="/user/pedidos"> Meus pedidos</a>
                </label>
              </div>
              <div class="cardUsuario">
                <label>
                  <a href="/user/dadosPessoais">Dados pessoais</a>
                </label>
              </div>
            </article>

            <article>
            
              <div class="cardUsuario">
                <label>
                  <a href="/user/card">Cartões</a>
                </label>
              </div>
              <div class="cardUsuario">
                <label>
                  <a href="/user/infoConta">Meus Endereços</a>
                 
                </label>
              </div>
            </article>
          </section>

         
        

       

         

       
        </div>
      </section>
    </main>

    <%- include( "includes/footer.ejs" ) %>

</body>

</html>