<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- [ styles ] 
==================================================== -->

    <link rel="stylesheet" href="/stylesheets/components.css" />
    <link rel="stylesheet" href="/stylesheets/usuario.css" />
    <link rel="stylesheet" href="/stylesheets/globals/global.css">

    <!-- [ scripts ] 
==================================================== -->
    <script src="js/usuario.js" defer></script>
    <title>Account - Pikituchus</title>
</head>

<body>
   


    <main>
        <section class="usuario">

            <%- include("components/menuUser.ejs") %>

                <div class="diplayUsuario">


                    <section class="dadosPessoais">
                        <div>
                            <h2>Dados pessoais</h2>
                        </div>

                        <div>
                            <hr>
                        </div>

                        <form class="formDadosPessoais">

                            <label for="">Nome<input class="input-form" type="text"
                                    placeholder="Digite seu nome"></label>

                            <label for="">Sobrenome<input class="input-form" type="text"
                                    placeholder="Digite seu sobrenome"></label>

                            <label for="">E-mail<input class="input-form" type="email"
                                    placeholder="Digite seu sobrenome"></label>
                            <label for="CPF">CPF<input class="input-form" type="text"
                                    placeholder="Digite seu CPF"></label>





                            <label for="dataNascimento">Data de Nasciment0:
                                <input class="input-form" type="date">
                            </label>

                        </form>

                        <form action="" class="formBtnDados">
                            <button class="btn-dadosPessoais" class="button-form">Alterar</button>
                            

                        </form>

                    </section>

                </div>
        </section>
    </main>

    <%- include( "includes/footer.ejs" ) %>

</body>

</html>