<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- [ styles ] 
==================================================== -->
    <link rel="stylesheet" href="/stylesheets/globals/global.css" />
    <link rel="stylesheet" href="/stylesheets/home-Noely/home.css" />
    <link
      rel="stylesheet"
      href="src/public/stylesheets/home-Noely/homeMediaqueries.css"
    />
    <link rel="stylesheet" href="/stylesheets/components.css" />
    <link rel="stylesheet" href="/stylesheets/usuario.css" />

    <!-- [ scripts ] 
==================================================== -->
    <script src="/js/globals/global.js" defer></script>
    <script src="/js/home-Noely/home.js" defer></script>
    <title>Account - Pikituchus</title>
  </head>
  <body>
    <page-header></page-header>

    <main>
      <section>
        <aside>
          <div><button class="btn-usuario">Inicio</button></div>
          <div><button class="btn-usuario">Dados pessoais</button></div>
          <div><button class="btn-usuario">Meus pedidos</button></div>
          <div><button class="btn-usuario">Trocar e devolver</button></div>
          <div><button class="btn-usuario">Cartões</button></div>
          <div><button src="./index.html" class="btn-usuario">Sair</button></div>
        </aside>

        <section class="boxCard">
          <article>
            <div class="cardUsuario">
              <div>
                <span><img src="" alt="" /></span>
                <h4>Meus Pedidos</h4>
              </div>
            </div>
            <div class="cardUsuario">
              <div>
                <span><img src="" alt="" /></span>
                <h4>Meus Pedidos</h4>
              </div>
            </div>
            <div class="cardUsuario">
              <div>
                <span><img src="" alt="" /></span>
                <h4>Meus Pedidos</h4>
              </div>
            </div>
          </article>

          <article>
            <div class="cardUsuario">
              <div>
                <span><img src="" alt="" /></span>
                <h4>Meus Pedidos</h4>
              </div>
            </div>
            <div class="cardUsuario">
              <div>
                <span><img src="" alt="" /></span>
                <h4>Meus Pedidos</h4>
              </div>
            </div>
            <div class="cardUsuario">
              <div>
                <span><img src="" alt="" /></span>
                <h4>Meus Pedidos</h4>
              </div>
            </div>
          </article>
        </section>
      </section>
    </main>

    <page-footer></page-footer>
  </body>
</html>
