

<link rel="stylesheet" href="styles/global/footer.css">
<footer>
    <newsletter-section>
        <h2 id="outline">Assine a nossa newsletter</h2>
        <h2 class="text-bg">Assine a nossa newsletter</h2>
        <txt>receba ofertas exclusivas para o seu pikitucho <br> diretamente no seu e-mail.</txt>
        <label for="subscribe">
            <input type="text" placeholder="digite seu melhor e-mail...">
            <input type="button" value="Assine agora!">
        </label>
    </newsletter-section>

    <top-section>
        <socials>
            <header>
                <img src="images/home/pikituchos-logo.svg" id="logo" alt=""> 
                <img src="images/home/pikituchos-logo-txt.png" id="logo-txt" alt="">
            </header>
            <main>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </main>
            <bottom>
                <img src="images/home/socials/facebook-svgrepo-com.svg" alt="">
                <img src="images/home/socials/instagram-svgrepo-com.svg" alt="">
                <img src="images/home/socials/twitter-svgrepo-com.svg" alt="">
                <img src="images/home/socials/youtube-svgrepo-com.svg" alt="">
            </bottom>
        </socials>
        <section1>
            <header>
                <h3 class="outline">Título</h3>
                <h3 class="h3">Título</h3>
            </header>
            <main>
                <l href="#">Link text 1</l>
                <l href="#">Link text 2</l>
                <l href="#">Link text 3</l>
                <l href="#">Link text 4</l>
            </main>
        </section1>
        <section2>
            <header>
                <h3 class="outline">Título</h3>
                <h3 class="h3">Título</h3>
            </header>
            <main>
                <l href="#">Link Text 1</l>
                <l href="#">Link Text 2</l>
                <l href="#">Link Text 3</l>
                <l href="#">Link Text 4</l>
            </main>
        </section2>
        <section3>
            <header>
                <h3 class="outline">Contact info</h3>
                <h3 class="h3">Contact info</h3>
            </header>
            <main>
                <li>Av. hifsoioios - hiosoif ojodf, 1230 LF.</li>
                <li>( 99 ) 9 9999-9999</li>
            </main>
        </section3>
    </top-section>
    
    <bottom-section>
        <bottom-clouds></bottom-clouds>
        <txt>copyright © 2022 - Present | PIKITUCHOS LTDA.</txt>
        <txt>Made with 
            <!-- ♥  -->
            <img id="footer-heart" src="images/home/love_icon.svg" alt="">
            by <a href="#">fs-tn-18</a> <strong>grupo 7</strong>
            <img id="footer-DH" src="images/home/DH-Logo.svg" alt="">
        </txt>
    </bottom-section>
</footer>