<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/logo.svg" type="svg+xml" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Bootostrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/admin/admin.css" />
    <link rel="stylesheet" href="/stylesheets/components.css" />

    <!-- Icons -->
    <script defer src="https://unpkg.com/@phosphor-icons/web"></script>


    <!-- JS -->

    <script src="/js/admin.js" defer></script>

    <title>Tela de Admim</title>
</head>

<body>
    <main>

        <%- include('./components/navbar.ejs') %>


            <section class="app">

                <form class="form-cadastro-produto" action="admin/adminProdutos" method="POST">

                    <article>

                        <h2>Cadastrar produto</h2>

                    </article>


                    <div>

                        <label for="email">Nome:<input class="input-form" type="text" name="nome" id="nome"
                                placeholder="Digite o nome do produto:" /></label>
                    </div>

                    <div>

                        <label for="preco">Preço:
                            
                            <input class="input-form" type="number" name="preco" id="preco" placeholder="Digite o valor do produto:" /></label>
                    </div>


                    <article class="admin-radio">
                        <label for=""><input class="input-radio" type="radio" name="" id="" /> Ativo</label>
                        <label for="dados" class="radio"><input class="input-radio" type="radio" name="" id="dados" />
                            Em estoque</label>
                    </article>


                    <article>

                        <label for="file" type="file" name="file" id="file" class="btn-cadastro-admin"> Enviar arquivo 
                            <input type="file" name="file" id="file"> 
                            
                        </label>

                    </article>


                    <article class="btn-box">

                        <button type="submit" class="btn-login">Cadastrar</button>

                    </article>




                </form>



            </section>

            </section>
    </main>

    <footer>
        <div></div>
    </footer>
</body>

</html>