<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/logo.svg" type="svg+xml" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/stylesheets/globals/global.css" />

    <!-- Bootostrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/admin/admin.css">
    <link rel="stylesheet" href="/stylesheets/components.css">


    <title>Tela de Admim</title>
</head>

<body>

    <main>

        <aside class=" appBar">

            <button type="button" class="btn-close" disabled aria-label="Close"></button>
          


            <header>

                <div>Logo</div>

                <div>
                    <h2>Usuario</h2>
                    <p>Admin</p>
                </div>

            </header>

            <nav class="nav">
                <li>
                    <a href="#">dashbord</a>
                </li>
                <li>
                    <a href="#">Produtos</a>
                </li>
                <li>
                    <a href="#">Cadastrar produto</a>
                </li>



            </nav>



        </aside>

        <section class="app">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    Column
                  </div>
                  <div class="col">
                    Column
                  </div>
                  <div class="col">
                    Column
                  </div>
                </div>
              </div>
        </section>


    </main>


    <footer>
        <div></div>

    </footer>



</body>

</html>