

/* [ banner section ]
================================================================= */
banner-section {
    display: block;
    width: 100%;
    /* min-height: 689px; */
    height: 47vw;
    background: #fce4fc;
}

banner-section slider {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

banner-section slider slide {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
}

banner-section > slider slide 
left section h2 {
    font-size: clamp( .1rem, 2vw,1.6rem );
}

banner-section slider slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* [ slide 00 ]
----------------------- */
banner-section slider #slide00 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../img/home/baby-walls1.jpg");
    background-size: cover;
    color: var(--cp08);
    text-shadow: #fff5 0 0 6px;
} banner-section slider #slide00 left {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(
        to right,
        var(--cp00),
        #fff0
    ); */
} banner-section slider 
#slide00 left section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 30% 5%;
}
banner-section slider 
#slide00 left section #mamae-e-bebe {
    width: 30.6vw;
    filter: drop-shadow(#0005 0 5px 3px);
    user-select: none;
}

banner-section slider #slide00 right {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(
        to left,
        var(--cp06),
        #fff0
    ); */
}

/* [ slide 01 ]
----------------------- */
banner-section slider #slide01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cp08);
} banner-section slider #slide01 left {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
} banner-section slider 
#slide01 left section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 30% 5%;
}
banner-section slider 
#slide01 left section #mamae-e-bebe {
    width: 30.6vw;
    filter: drop-shadow(#0005 0 5px 3px);
    user-select: none;
}

banner-section slider #slide01 right {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
}

/* [ slide 02 ]
----------------------- */
banner-section slider #slide02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../img/home/baby-walls2.jpg");
    background-size: cover;
    color: var(--cp08);
    text-shadow: #fff5 0 0 6px;
} banner-section slider #slide02 left {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
} banner-section slider 
#slide02 left section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 30% 5%;
}
banner-section slider 
#slide02 left section #mamae-e-bebe {
    width: 30.6vw;
    filter: drop-shadow(#0005 0 5px 3px);
    user-select: none;
}

banner-section slider #slide02 right {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
}

/* [ slide 03 ]
----------------------- */
banner-section slider #slide03 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../img/home/baby-walls3.jpg");
    background-size: cover;
    color: var(--cp08);
    text-shadow: #fff5 0 0 6px;
} banner-section slider #slide03 left {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
} banner-section slider 
#slide03 left section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 30% 5%;
}
banner-section slider 
#slide03 left section #mamae-e-bebe {
    width: 30.6vw;
    filter: drop-shadow(#0005 0 5px 3px);
    user-select: none;
}

banner-section slider #slide03 right {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
}

/* [ banner slider ]
================================== */
.slider-btn {
    position: absolute;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    /* padding: 10px; */
    text-align: center;
    border: none;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    background-color: #fff5;
    background-color: #00000010;
    font-size: 18px;
    font-weight: bolder;
}
.slider-btn:active {
    transform: scale(1.1);
}
.slider-btn:hover {
    box-shadow: #0003 0 0 6px;
}
.slider-btn-prev {
    top: 50%;
    left: 2%;
} .slider-btn-prev:active {
    transform: translateX(-5px);
}
.slider-btn-next {
    top: 50%;
    right: 2%;
} .slider-btn-next:active {
    transform: translateX(5px);
}

/* [ slider btn ]
====================================== */
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    /* padding: 10px; */
    text-align: center;
    border: none;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    background-color: #fff5;
    background-color: #00000010;
    font-size: 18px;
    font-weight: bolder;
}

.swiper-button-next, .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.swiper-button-next:active, .swiper-button-prev:active {
    transform: scale(1.1);

}
.swiper-button-next:hover, .swiper-button-prev:hover {
    box-shadow: #0003 0 0 6px;
}
.swiper-button-next:after {
    content: "" !important;
}
.swiper-button-prev:after {
    content: "" !important;
}

.swiper-button-prev {
    background-image: url( "../../img/home/arrowLeft.svg" );
    background-size: cover;
    top: 50%;
    left: 2%;
} .swiper-button-prev:active {
    transform: translateX(-5px);
}
.swiper-button-next {
    background-image: url( ../../img/home/arrowRight.svg );
    background-size: cover;
    top: 50%;
    right: 2%;
} .swiper-button-next:active {
    transform: translateX(5px);
}
  