

/* html { cursor: url(../../img/pacifier.svg), auto; } */
/* [ section ]
================================================================= */
:root {
    --slider-navigation-size: 130px;
    --swiper-navigation-color: #ffab00;
    --swiper-theme-color: #27f;
}
body > main > article {
    width: 100%;
    overflow: hidden;
}
.page-section {
    display: grid;
    grid-template-rows: .5fr 2fr .5fr;
    user-select: none;
}
.page-section > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.9rem;
    /* background: #fff1; */
}

/* [ title-pk ]
----------------------------------- */
article > header:has(title-pk) {
    display: grid; place-items: center;
}

