

slider-spot {
    display: flex;
    align-items: center;
    width: clamp( 100px, 100%, 1368px );
    height: 100%;
    margin: 0 auto;
    padding: 0 54px 24px 54px;
    position: relative;
    overflow: hidden;
    /* background: #212329; */
} *.swiper {
    display: flex;
    width: clamp( 100px, 100%, 1220px );
}

slider-modules {
    /* display: flex; */
}

*.swiper-wrapper {
    /* display: ; */
}

*.swiper-slide {
    /* width: 150px; height: 150px; */
    /* background: #27f; */
    width: 23.3%;
    aspect-ratio: 9 / 16;
    height: 445px;
    height: 560px;
    position: relative;
}

slide {
    display: grid;
    place-items: center;
    padding: 10% 0 5% 0;
    user-select: none;
}

