

slider[scroll] {
    display: block;
    position: relative;
    width: clamp( 100px, 100%, 1300px );
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}
slider-modules::-webkit-scrollbar { height: 0; }

slider-modules {
    display: block;
    width: clamp( 100px, 100%, 1200px );
    margin: 0 auto;
    padding: 116px 0 2.5vw 0;
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

slider-modules > card-pk {
    display: inline-block;
    margin: 0 2%;
    /* transform: translateX(calc( 287px + 150% ) ); */
    /* transform: translateX(calc( 287px + 10% ) ); */
}

slider-modules > card-pk + card-pk { margin-left: 50px; }

/* [  ]
================================== */
/* ---------------------------- */

