

*.swiper {
    display: block;
    width: clamp( 100px, 100%, 1220px );
}

*.swiper-wrapper {
    /* display: ; */
}

*.swiper-slide {
    /* width: 150px; height: 150px; */
    /* background: #27f; */
}

slide {
    display: grid;
    place-items: center;
    padding: 10% 0 5% 0;
    user-select: none;
}

