

@keyframes flash-hovering {
    0% {
        font-size: 1.4rem;
        color: #e9e6e3;
    }
    70% {
        color: var( --cp05 );
    }
    100% {
        font-size: 1.4rem;
        color: #e9e6e3;
    }
}