<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Cadastro - Pikituchos</title>
    <link rel="icon" href="/images/logo.svg" type="svg+xml" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/" target="_blank"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/stylesheets/globals/global.css" />

    <link
      rel="stylesheet"
      href="/stylesheets/globals/animations.css"
    />

    <!-- CSS da pagina e dos componentes -->

    <link rel="stylesheet" href="/stylesheets/cadastro.css" />
    <link rel="stylesheet" href="/stylesheets/components.css" />
  </head>

  <body>
    <%- include( "../includes/appbar.ejs" ) %>

    <main>

     
      
      <form action="">
        <article>
          <img src="/images/home/pikituchos-logo-txt.png" alt="" />
        </article>

        <article class="dados-cadastrais">
          <div>
            <h2>Dados cadastrais:</h2>
          </div>
        </article>

        <article class="input-card">
          <div>
            <label for="email"
              >E-mail:<input
                class="input-form"
                type="email"
                name="email"
                id="email"
                placeholder="Digite seu E-mail:"
            /></label>
          </div>
          <div class="input-senha">
            <label for="senha"
              >Senha:<input
                class="input-form"
                type="password"
                name="senha"
                id="senha"
                placeholder="Escolha uma senha:"
              />

              <span class="esconde-senha">
                <img src="/images/img-checkout/olho.svg" alt="">
              </span>

            </label>

          </div>

          <div class="input-senha">
            <label for="validar"
              >Confirme sua senha:<input
                placeholder="Confirme senha:"
                class="input-form"
                type="password"
                name="validar"
                id="validar"
            />

            <!-- Img de Olho para esconder senha -->
          
            <!-- <span class="esconde-senha">
              <img src=".//images/img-checkout/olho.svg" alt="">
            </span> -->
          
          </label>
          </div>
          <div>
            <label for="cpf"
              >CPF:<input
                placeholder="Digite seu CPF:"
                class="input-form"
                type="text"
                name="cpf"
                id="cpf"
            /></label>
          </div>
          <div>
            <label for="celular"
              >Telefone celular:<input
                placeholder="Digite seu celular:"
                class="input-form"
                type="number"
                name="celular"
                id="celular"
            /></label>
          </div>
          <div>
            <label for="nome"
              >Nome completo:<input
                placeholder="Digite seu nome:"
                class="input-form"
                type="text"
                name="nome"
                id="nome"
            /></label>
          </div>
          <div>
            <label for="data"
              >Data de nascimento:<input
                class="input-form"
                type="date"
                name="data"
                id="data"
            /></label>
          </div>
        </article>

        <article class="dados-cadastrais">
          <div>
            <h2>Endereço de casdastro</h2>
            <h3>Endereço residencial / Endereço de cobrança</h3>
          </div>
        </article>

        <article class="input-card">
          <div>
            <label for="cep"
              >CEP ::<input
                class="input-form"
                type="number"
                name="cep"
                id="cep"
                placeholder="CEP:"
            /></label>
          </div>
          <div>
            <label for="number"
              >Numero:<input
                class="input-form"
                type="number"
                name="number"
                id="number"
                placeholder="Numero:"
            /></label>
          </div>

          <div>
            <label for="compl"
              >Complemento:<input
                class="input-form"
                type="text"
                name="compl"
                id="compl"
                placeholder="Complemento:"
            /></label>
          </div>
          <div>
            <label for="Endereço"
              >Endereço:<input
                class="input-form"
                type="text"
                name="Endereço"
                id="Endereço"
                placeholder="Endereço:"
            /></label>
          </div>
          <div>
            <label for="cidade"
              >Cidade:<input
                class="input-form"
                type="text"
                name="cidade"
                id="cidade"
                placeholder="Cidade:"
            /></label>
            <label for="estado"
              >Estado:
              <select class="input-form" name="estado" id="estado">
                <option value="null" checked>UF:</option>
                <option value="SP">SP</option>
                <option value="RJ">RJ</option>
                <option value="BA">BA</option>
                <option value="MG">MG</option>
              </select>
            </label>
          </div>
        </article>
        <article class="card-radio">
          <label for="promo"
            ><input class="input-radio" type="radio" name="" id="promo" />Deseja
            receber novidades e promoções por e-mail?</label
          >
          <label for="dados" class="radio"
            ><input class="input-radio" type="radio" name="" id="dados" /> Li e
            aceito a forma de tratamento dos meus dados.</label
          >
        </article>

        <article>
          <button type="submit" class="buttom-form">Cadastrar</button>
        </article>
      </form>
    </main>

    <%- include( "../includes/footer.ejs" ) %>


    <script src="/scripts/cadastro.js"></script>
    <script src="/scripts/globals/global.js"></script>
  </body>
</html>
