

/* [ frame-details ]
----------------------------------------------------------------- */
frame-details {
    display: grid;
    /* grid-template-rows: .3fr .3fr .3fr .6fr; */
    grid-template-rows: 3fr 2.5fr 2px 2.5fr 3fr 2fr 6fr;
    gap: 2%;
    background: #f5f5f5;
    min-height: 150px;
    padding: 16px;
}

/* header 
------------------------------- */
frame-details > details-header {
    display: block;
    color: var( --cp08 );
    /* background: #f5f5f5; */
}

/* price
------------------------------- */
details-price {
    display: grid;
    grid-template-rows: .5fr .5fr;
    color: var( --cp08 );
}

details-price > header {
    display: flex;
    align-items: baseline;
    gap: 3%;
}

/* sizes
---------------------------------- */
frame-details > details-sizes {
    display: grid;
    grid-template-rows: .2fr .8fr;
    color: var( --cp08 );
    /* background: #159; */
} details-sizes > footer {
    display: flex;
    align-items: center;
    gap: 4%;
    height: 100%;
} details-sizes > footer > label {
    width: 45px;
    aspect-ratio: 3 / 2.5;
    background: #fff;
    box-shadow: #0003 0 0 12px;
    border-radius: 9%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .2s ease-out;
} details-sizes > footer > label:hover {
    box-shadow: #0005 -2px 3px 3px 3px;
    transform: scale( 1.01 );
    transition: .3s ease-in;
} details-sizes > footer > label > input[type="radio"] {
    display: none;
} details-sizes > footer > label[active] {
    border: var( --cp05 ) 3px dashed;
} details-sizes > footer > label[active] h3 {
    color: var( --cp07 );
    font-size: 1.4em;
    top: -3%;
} details-sizes > footer > label > h3 {
    position: absolute;
    top: 10%; left: 0;
    text-align: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    color: var( --cp05 );
}

/* colors
----------------------------------- */
frame-details > details-colors {
    display: block;            color: var( --cp08 );
    /* background: #684; */
} details-colors > footer {
    display: flex;
    align-items: center;
    gap: 4%;
    width: 100%;
} details-colors > footer > label {
    width: 60px;
    aspect-ratio: 1 / 1;
    background: #fff;
    box-shadow: #0003 0 0 12px;
    border-radius: 9%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s ease-out;
} details-colors > footer > label:hover {
    box-shadow: #0005 -2px 3px 3px 3px;
    transform: scale( 1.02 );
    transition: .3s ease-in;
} details-colors > footer > label:has( input[type="radio"]:checked ) {
    box-shadow: var( --cp05 ) 0 0 0 4px;
} details-colors > footer > label > input[type="radio"] {
    display: none;
}
details-colors > footer > label > img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* quantity
--------------------------------- */
details-quantity {
    display: grid;
    grid-template-rows: .5fr .5fr;
    color: var( --cp08 );
}
details-quantity > footer {

}
details-quantity > footer > box {
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    width: 50%;
    margin-left: 2%;
}
input[quantity-decrement],
label[quantity-label],
input[quantity-increment] {
    display: grid; place-items: center;
    max-height: 23px;
    background: var( --cp08 );
    box-shadow: var( --cp07 ) 0 0 0 5px;
    color: #e9e6e3;
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: bold;
    border-style: none;
}
input[quantity-decrement] {
    border-radius: 18% 0 0 18%;
    cursor: pointer;
    user-select: none;
    position: relative;
} input[quantity-decrement]:hover,
input[quantity-increment]:hover {
    /* color: var( --cp05 ); */
    animation: flash-hovering .3s infinite;
} input[quantity-decrement]:active,
input[quantity-increment]:active {
    animation: none;
    background: radial-gradient(
        at center,
        #505257, #212329
        );
        color: #fff;
        font-size: 2.5em;
}  
input[quantity-increment] {
    border-radius: 0 18% 18% 0;
    cursor: pointer;
    user-select: none;
}
label[quantity-label] {
    background: #fff;
    color: var( --cp08 );
} label[quantity-label] > input {
    width: 100%;
    max-height: 23px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.1rem;
    line-height: 1rem;
}
*[desc-toggle], *[devoluções-toggle] {
    cursor: pointer;
    user-select: none;
    transition: .3s ease-in-out;
    transform: skew( 0deg, 0deg );
} *[desc-toggle]:hover, *[devoluções-toggle]:hover {
    transition: .3s ease-in-out;
    filter: drop-shadow( var( --cp05 ) 0 0 6px );
    transform: scale( 1.1 ) skew( 2deg, -2deg);
}

/* footer
--------------------------------- */
frame-details > details-footer {
    display: block;
    padding-top: 5%;
    /* background: #852; */
}
details-footer > desc {
    display: block;
    width: 100%;
    min-height: 20%;
    padding-top: 3%;
    color: var( --cp08 );
}
details-footer > desc > header {
    display: flex;
    align-items: center; justify-content: center;
    gap: 2%;
    color: var( --cp08 );
}
footer[desc] {
    padding: 3% 0;
    height: 103px;
    padding: 2%;
    border-radius: 13px;
    background: #fff;
}
footer[devoluções] {
    display: none;
    padding: 3% 0;
    height: 103px;
    padding: 2%;
    border-radius: 13px;
    background: #fff;
}
