<aside class="boxBtn">

    <div>
        <h2>Olá <strong>usuario</strong></h2>
    </div>
    <div><button id="inicio" class="btn-usuario">
        <a href="/user">Inicio</a>    
        </button></div>
    <div>
        <button id="dadosPessoais" class="btn-usuario">
             <a href="/user/dadosPessoais">Dados pessoais</a>
         
        </button>
    </div>
    <div>
        <button id="meusPedidos" class="btn-usuario">
            <a href="/user/pedidos"> Meus pedidos</a>
           </button>
    </div>
    
    <div>
        <button id="informacoes" class="btn-usuario">
            <a href="/user/infoConta">Meus Endereços</a>
        </button>
    </div>
    <div>
        <button id="informacoes" class="btn-usuario">
            <a href="/user/card">Cartões</a>
        </button>
    </div>
   
    
    <div>
        <button src="/" class="btn-usuario">Sair</button>
    </div>
</aside>